<div class="container">
  <div class="text-center">
    <h2>AliTwitter</h2>
  </div>

  <div class="container">
      <div class="mt-2">
      <h4> New tweets </h4>
    </div>
    <%= form_with scope: :tweet, url: tweets_path do |form| %>
      <div class="form-group has-error">
        <%= form.label "What's happening?" %>
        <%= form.text_field :content, class: 'form-control' %>
      </div>
      <%= form.submit 'Tweet', class: 'btn btn-primary' %>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
      <span class="help-block" style='color: red'>
        <%= error %>
      </span>
      <% end %>
    <% else %>
      <br>
    <% end %>
  </div>

  <div class="container mt-4">
    <h4> Tweets </h4>
    <% @tweets.each do |tweet| %>
    <div class="container tweet">
      <div class="row pl-3 pt-2">
        <p><%= tweet.created_at.in_time_zone("Asia/Jakarta") %></p>
      </div>
      <div class="row">
        <div class="col-md-8 pl-3 py-1">
          <p><%= tweet.content %></p>
        </div>
        <div class="col-md-2">
          <p><%= button_to 'Delete Tweet', tweet, method: :delete, class: 'btn-danger btn-sm' %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
